<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

    <form action="/piglatinize" method="POST">
      <p><input type="text" name="user_text"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>
